* {
  padding: 0;
  margin: 0;
}

body {
  background-color: lightblue
}

.quicksand {
  font-family: 'Quicksand', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.header-title {
  font-size: 4rem;
  overflow: hidden; 
  border-right: .15em solid black;
  margin: 10rem 0 2rem 0;
  letter-spacing: .15em;
  animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
  
}
  
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
  
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

.header-description {
  text-align: center;
  padding: 0 0 3rem 0;
  font-size: 0.9rem;
}

.main-wrapper {
  width: 95vw;
  height: 30vh;
  display: flex;
  justify-content: center;
}

.url-box {
  width: 70vw;
  height: 5vh;
}

.submit-button {
  height: 5.5vh;
}

.button-text {
  font-size: 0.8rem;
  padding: 0.7rem;
}

.footer {
  height: 20vh;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  display: flex;
  color: grey;
  font-size: 0.8rem;
  width: 80%;
  align-items: center;
}

.author-name,
.github,
.email-me {
  text-decoration: underline;
  color: black;
  font-size: 2rem;
  padding: 1rem;
}

.find-me {
  font-size: 0.9rem;
  color: black;
}
