<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brevish</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main/style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.svg')}}"/>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div class="main-container">
        <header class="header-contents">
            <h1 class="quicksand header-title">Brevish</h1>
            <p class="quicksand header-description">A Dead Simple URL Shortener</p>
        </header>
        <main class="main-wrapper">
                <form action="/shorten" method="POST">
                    <div class="form-container">
                        <input class="url-box" type="text" placeholder="https://stupidly-long-url-to-shorten.com"/>
                        <button class="submit-button" type="submit">
                            <span class="button-text">Shorten!</span>
                        </button>
                    </div>
                    <div id="shortened-url"></div>
                </form>
        </main>
    </div>
        <footer class="footer">
            <div class="quicksand footer-text">
                <p class="find-me">Find me here:</p>
                <a class="author-name" href="https://twitter.com/pointerish"><i class="fab fa-twitter"></i></a>
                <a class="github" href="https://github.com/pointerish/"><i class="fab fa-github-square"></i></a>
                <a class="email-me" href="mailto:josiasjag@gmail.com"><i class="fas fa-envelope-open"></i></a>
            </div>
        </footer>
</body>
</html>
